# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.venv/


# Model and data files (optional — only ignore if you don’t want to push them)
*.pkl
# *.csv
